In [1]:
import nltk
from nltk.corpus import names
import random

In [3]:
nltk.download('names')

[nltk_data] Downloading package names to /Users/shreya/nltk_data...
[nltk_data]   Unzipping corpora/names.zip.

True

In [4]:
male_names=[(name,'male') for name in names.words ('male.txt')]
female_names=[(name,'female') for name in names.words('female.txt')]

In [6]:
all_names=male_names+female_names
random.shuffle(all_names)

In [8]:
def gender_features(word):
    return {
        'last_letter': word[-1],  
        'first_letter': word[0],    
        'last_two': word[-2:],       
        'length': len(word)          
    }

In [9]:
featuresets = [(gender_features(name), gender) for (name, gender) in all_names]

In [10]:
train_set=featuresets[5000:]
test_set=featuresets[:2000]

In [12]:
from nltk.classify import NaiveBayesClassifier

classifier = NaiveBayesClassifier.train(train_set)

In [13]:
from nltk.classify.util import accuracy
print("Accuracy:",accuracy(classifier, test_set))

Accuracy: 0.7915

In [14]:
print(classifier.classify(gender_features("Shreya")))
print(classifier.classify(gender_features("Arjun")))
print(classifier.classify(gender_features("John")))
print(classifier.classify(gender_features("Priya")))

female
female
male
female

In [15]:
classifier.show_most_informative_features(10)

Most Informative Features
                last_two = 'na'           female : male   =     75.1 : 1.0
             last_letter = 'a'            female : male   =     37.1 : 1.0
                last_two = 'la'           female : male   =     29.9 : 1.0
                last_two = 'ra'           female : male   =     27.5 : 1.0
                last_two = 'rd'             male : female =     26.8 : 1.0
                last_two = 'ia'           female : male   =     20.4 : 1.0
                last_two = 'us'             male : female =     17.4 : 1.0
             last_letter = 'k'              male : female =     17.3 : 1.0
                last_two = 'ta'           female : male   =     17.2 : 1.0
                last_two = 'sa'           female : male   =     16.1 : 1.0